/* Contêiner para a bolinha e o texto */
.status-error-ok {
    display: flex;
    align-items: center;
    /* Alinha verticalmente os elementos */
    justify-content: center;
    /* Centraliza horizontalmente */
    gap: 10px;
    margin: 0 auto;
    /* Centraliza o contêiner */
    font-size: 16px;
    font-weight: bold;
}


/* Estilo para a bolinha */
.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

/* Cor verde para sucesso */
.status-error-ok.green .circle {
    background-color: green;
}

/* Cor vermelha para erro */
.status-error-ok.red .circle {
    background-color: red;
}

/* Texto branco para ambas as situações */
.status-error-ok.green,
.status-error-ok.red {
    color: white;
    text-shadow: 1px 1px 1px black;
}