h1 {
    text-align: center;
}

div[data-baseweb="select"] {
    background-color: transparent;
    border: 1px solid hsl(358, 94%, 49%);
    border-radius: 4px;
    padding: 5px;
}

div[data-baseweb="select"]:focus {
    outline: none;
    border: 1px solid hsl(358, 94%, 49%);
}

div[data-baseweb="select"] .css-26l3qy-menu {
    background-color: #fff;
    color: #333;
    border: 1px solid hsl(358, 94%, 49%);
    border-radius: 4px;
}

div[data-baseweb="select"] .css-26l3qy-menu:hover {
    background-color: #f0f8ff;
}

div[data-baseweb="select"] .css-26l3qy-menu div[aria-selected="true"] {
    background-color: #cce7ff;
    color: hsl(358, 94%, 49%);
}

.stTextInput input,
.stNumberInput input {
    padding: 10px;
    background-color: transparent;
    color: white;
    border-radius: 4px;
    border: 1px solid white;
}

.stTextInput input:focus,
.stNumberInput input:focus {
    outline: none;
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.stButton>button {
    background-color: #e31b22;
    color: white;
    border-radius: 4px;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}

.stButton>button:hover {
    border: 1px solid #fff;
    color: #fff;
    background-color: hsl(358, 94%, 49%);
}

header {
    visibility: hidden;
}

footer {
    visibility: hidden;
}

.columns-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.column {
    width: 100px;
    text-align: center;
}


/* Estilo para a luz */
.light {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 1px 1px 1px #000;
    margin: 10px auto;
    transition: background-color 0.3s ease;

}

/* Luz verde */
.green {
    background-color: green;
}

/* Luz vermelha */
.red {
    background-color: red;
}