#logo {
  width: 350px;
  height: auto;
}

footer {
    background-color:red;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #6c757d;
    font-size: 14px;
    border-top: 1px solid #dee2e6;
}

footer p {
    margin-bottom: 0;
}