#logo {
  width: 350px;
  height: auto;
}

body {
    background-color: #f1f4f6;
}

footer {
    background-color: #f1f4f6;
    padding: 2px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #504f4f;

    font-size: 14px;
}

footer p {
    margin-bottom: 0;
}