    .status-indicator {
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 8px;
        background-color: #28a745;
        border-radius: 50%;
    }

    /*.custom-markdown {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #DA70D6;
    font-size: 34px; 

    st.markdown(
    '<p class="custom-markdown">This is <strong>bold text</strong> with a custom font and color.</p>',
    unsafe_allow_html=True,
) */


    @media screen and (max-width: 768px) {
        #barra-superior {
            flex-direction: column;
            text-align: center;
        }

        #conteudo {
            margin-top: 100px;
        }
    }