/* Estilizando o botão de envio de formulário */
.stButton>button {
    background-color: #e31b22;
    /* Cor de fundo azul */
    color: white;
    /* Cor do texto */
    border-radius: 4px;
    /* Bordas arredondadas */
    border: none;
    /* Remove a borda padrão */
    padding: 8px 25px;
    /* Espaçamento interno (ajustado para botões mais largos) */
    font-size: 16px;
    /* Tamanho da fonte maior para torná-los mais legíveis */
    cursor: pointer;
    /* Mostra o cursor de clique */
    text-align: center;
    /* Garante que o texto fique centralizado */
}

/* Alterar cor do botão ao passar o mouse */
.stButton>button:hover {
    border: 1px solid #fff;
    /* Cor de fundo azul escuro */
    color: #fff;
    background-color: #0056b3;
}